{% extends 'base.html.twig' %}

{% block title %}Edit Couleurs{% endblock %}

{% block body %}
    <h1>Edit Couleurs</h1>

    {{ include('admin/couleurs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('couleurs_index') }}">back to list</a>

    {{ include('admin/couleurs/_delete_form.html.twig') }}
{% endblock %}
