{% extends 'base.admin.html.twig' %}

{% block title %}New MainFeatures{% endblock %}

{% block body %}
    <h1>Create new MainFeatures</h1>

    {{ include('admin/main_features/_form.html.twig') }}

    <a href="{{ path('main_features_index') }}">back to list</a>
{% endblock %}
